.container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  min-height: 6rem;

  :global {
    .Avatar {
      --cmm-Avatar-size: 2.5rem;
    }
  }
}

.left {
}

.right {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
}

.header {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  align-items: baseline;
  line-height: 1.1;
}

.displayName {
  font-weight: var(--cmm-font-weight-bold);
}

.name {
  font-size: var(--cmm-font-size-sm);
  color: var(--cmm-color-font-subtle);
}

.time {
  font-size: var(--cmm-font-size-sm);
  color: var(--cmm-color-font-subtle);

  &::before {
    content: "·";
    margin-inline-start: 0.1em;
    margin-inline-end: 0.25em;
    font-weight: var(--cmm-font-weight-bold);
  }
}

.content {
  flex: 1;
  display: inline-block;
  word-wrap: break-word;
  word-break: break-all;
}
